/* remember to define focus styles! */

:root {
    --grey-dark: #373737;
    --grey-mid: #5F5F5F;
    --grey-light: #D3D3D3;
    --pastle-blue: #6496C6;
}

:focus {
    outline: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Fira Sans', sans-serif;
    color: var(--grey-light);
}

*:focus {
   outline: 0;
}

body {
    background-color: var(--grey-light);
    overflow: hidden;
}

h3 {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    margin: 0 0 0 4px;
    width: 125px;
}

button {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 800;
    background-color: var(--grey-mid);
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

button:hover {
    color: var(--pastle-blue);
}

input {
    cursor: pointer;
}

input[type="radio"] {
    margin-top: 5PX;
    margin-left: 10PX;
}

input[type="radio"]:checked {
    color: var(--pastle-blue);
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"] {

}

input[type="color"] {
    background-color: var(--grey-dark);
}

input[type="file"]::before {
    content: 'Choose File';
    height: 32px;
    display: inline-block;
    background-color: var(--grey-mid);
    border-radius: 0px;
    padding: 0;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in-out;
}

input[type="file"]:hover::before {
    color: var(--pastle-blue);
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--grey-dark);
    border-bottom: 1px solid var(--grey-light);
}

.btn-menu {
    height: 32px;
    width: 32px;
    margin: 4px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: var(--grey-light);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-weight: 800;
}

.btn-menu:hover {
    color: var(--pastle-blue);
}

.sidebar {
    position: absolute;
    left: 0px;
    top: 40px;
    height: 100%;
    background-color: var(--grey-dark);
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
    z-index: 9999;
}

.sidebar-item {
    border-bottom: 1px solid var(--grey-light);
    overflow: hidden;
    margin-bottom: 4px;
}

.sidebar-title {
    display: flex;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: hidden;
}

.sidebar-icon {
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 16px;
    font-weight: 800;
    background-color: var(--grey-mid);
    text-align: center;
    margin-left: 4px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.sidebar-icon:hover {
    color: var(--pastle-blue);
}

.sidebar-content {
    margin-left: 4px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.text-icon {
    height: 32px;
    width: 32px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}

.parse-file-row {
    display: flex;
    margin: 4px 0px;
    overflow: hidden;
}

.kanvas {
    display: block;
    position: absolute;
    top: 41px;
    left: 0px;
    background: linear-gradient(to bottom, #bdbdbd, var(--grey-dark));
    z-index: 1;
}

.slider {
    height: 300px !important;
    display: block;
    margin: 15px auto;
    border: 1px solid var(--grey-dark);
}

.ui-slider-range {
    background: var(--pastle-blue) !important;
    border-radius: 0px !important;
}

.ui-slider-handle {
    border-radius: 0px !important;
    background-color: var(--grey-mid) !important;
    border: 1px solid var(--grey-mid) !important;
    cursor: pointer !important;
}

.ui-corner-all {
    border-radius: 0px !important;
}

.ui-widget-content {
    border: none !important;
 }

.ui-dialog {
    padding: 0 !important;
    background-color: var(--grey-dark) !important;
    color: var(--grey-light) !important;
}

.ui-dialog-titlebar {
    background-color: var(--grey-dark) !important;
    color: var(--grey-light) !important;
    border: none !important;
}

.ui-dialog-content {
    color: var(--grey-light) !important;
}

.ui-dialog-content {
    padding: 4px !important;
}

.ui-button {
    background-color: var(--grey-mid) !important;
    border-color: var(--grey-mid) !important;
    color: var(--pastle-blue) !important;
}

.ui-button-icon {
    color: var(--pastle-blue) !important;
}

.ui-icon {
    color: var(--pastle-blue) !important;
}

.ui-icon-closethick {
    color: var(--pastle-blue) !important;
}

.pin {
    z-index: 2;
    width: 64px;
    height:64px;
    margin-left: -32px;
    position: absolute;
}